<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dyson_singlepagecheckout>
            <checkout>
                <billing_title_enabled>0</billing_title_enabled>
                <billing_title>Billing Address</billing_title>
            </checkout>
        </dyson_singlepagecheckout>

        <dyson_singlepagecheckout>
            <telephone>
                <telephone_message_enabled>0</telephone_message_enabled>
                <telephone_message>Custom Telephone Message</telephone_message>
            </telephone>
        </dyson_singlepagecheckout>

        <cart>
          <coupon_carts_summary_message>
              <enable>0</enable>
          </coupon_carts_summary_message>
        </cart>
    </default>
</config>
