<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\Checkout\Controller\Index\Index">
        <plugin name="DysonAmastyCheckoutExtensionIndexIndex" type="Dyson\AmastyCheckoutExtension\Plugin\Controller\Index" sortOrder="10"/>
    </type>
    <preference for="Dyson\AmastyCheckoutExtension\Api\DysonCityRepositoryInterface" type="Dyson\AmastyCheckoutExtension\Model\DysonCityRepository"/>
    <preference for="Dyson\AmastyCheckoutExtension\Api\Data\DysonCityInterface" type="Dyson\AmastyCheckoutExtension\Model\Data\DysonCity"/>
    <preference for="Dyson\AmastyCheckoutExtension\Api\Data\DysonCitySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

  <type name="Magento\Quote\Model\BillingAddressManagement">
      <plugin disabled="false" name="Dyson_AmastyCheckoutExtension_Plugin_Magento_Quote_Model_BillingAddressManagement" sortOrder="10" type="Dyson\AmastyCheckoutExtension\Plugin\Magento\Quote\Model\BillingAddressManagement"/>
  </type>

  <type name="Magento\Quote\Model\ShippingAddressManagement">
      <plugin disabled="false" name="Dyson_AmastyCheckoutExtension_Plugin_Magento_Quote_Model_ShippingAddressManagement" sortOrder="10" type="Dyson\AmastyCheckoutExtension\Plugin\Magento\Quote\Model\ShippingAddressManagement"/>
  </type>
    <type name="Magento\Quote\Model\CouponManagement">
        <plugin name="custom_exception_message" type="Dyson\AmastyCheckoutExtension\Plugin\Magento\Quote\Model\CouponManagementPlugin" />
    </type>
</config>
