<?xml version="1.0"?>
<!--
/**
 * @author Goram & Vincent
 * @package Dyson_SinglePageCheckout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- New config section for Dyson_SinglePageCheckout. -->
        <section id="dyson_singlepagecheckout" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Single Page Checkout</label>
            <tab>dyson</tab>
            <resource>Dyson_AmastyCheckoutExtension::config</resource>
            <!-- Billing Address Title Config -->
            <group id="checkout" translate="label" type="text" sortOrder="01" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Billing Address Title Config</label>
                <field id="billing_title_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="billing_title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Billing Address Title</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="dyson_singlepagecheckout/checkout/billing_title_enabled">1</field>
                    </depends>
                </field>
            </group>
            <!-- Shipping Address Title Config -->
            <group id="shipping_checkout" translate="label" type="text" sortOrder="01" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping Address Title Config</label>
                <field id="shipping_title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipping Address Title</label>
                    <validate>validate-length maximum-length-100</validate>
                </field>
            </group>

            <!-- Telephone Message Config -->
            <group id="telephone" translate="label" type="text" sortOrder="01" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Telephone Help Message</label>
                <field id="telephone_message_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="telephone_message" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Telephone Help Message Title</label>
                    <validate>required-entry validate-length maximum-length-350</validate>
                    <depends>
                        <field id="dyson_singlepagecheckout/telephone/telephone_message_enabled">1</field>
                    </depends>
                </field>
            </group>
             <group id="enable_city_dropdown" translate="label" type="text" sortOrder="01" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable City as Dropdown</label>
                <field id="enable_city_dropdown_enable" translate="Enable City as Dropdown" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!-- Prefix value configuration -->
            <group id="prefix_dialcode" translate="label" type="text" sortOrder="01" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Prefix telephone configuration</label>
                <field id="prefix_dialcode_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <!-- Coupon Summary Message  configuration -->
        <section id="cart">
            <label>Cart</label>
            <tab>dyson</tab>
            <group id="coupon_carts_summary_message"
                   translate="label"
                   type="text"
                   sortOrder="150"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Coupon Label on cart summary section</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Coupon Label on cart summary</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="coupon_carts_summary_before_apply"
                       translate="label"
                       type="text"
                       sortOrder="3"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Before apply coupon</label>
                    <validate>required-entry-before_apply-if-not-checked</validate>
                    <depends>
                        <field id="cart/coupon_carts_summary_message/enable">1</field>
                    </depends>
                </field>
                <field id="coupon_carts_summary_after_apply"
                       translate="label"
                       type="text"
                       sortOrder="3"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>After apply coupon</label>
                    <validate>required-entry-after_apply-if-not-checked</validate>
                    <depends>
                        <field id="cart/coupon_carts_summary_message/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
